.auth-input{
  border: 2px solid #FFFFFF;
  border-radius: 5px;
}

.continue-btn{
  background: linear-gradient(to right, #C8A518, #EBC21C);
  border-radius: 5px;
}

.signup-btn{
  background: transparent;
  border-radius: 5px;
  border: 2px solid #FFFFFF;
}